
@media only screen and (max-width:1199px){
    /*   ipad land */

    .menu-bar:hover{
        display: block;
    }


    .sect3-grid{
        grid-template-columns: repeat(2,1fr);
    }


    .foot1{
        width: 100%;
        /* background-color: red; */
        position: relative;
    }


}


@media only screen and (max-width:1023px){
    /*   ipad port */


    .menu{
        display: none;
    }

    .menu-home-bar::after{
        content: "\f0c9";
        color: orangered;
        font-size: 25px;
        font-family: fontawesome;
    }

    .carousel-grid{
        /* display: grid; */
        grid-template-columns: repeat(2,1fr);
    }

    .butt-on{
        display: none;
    }





    .image-container {
    
        width: 100%;
    }

    .content-container {
    
        width: 100%;
    }

    .text-container {
    
        padding: 25px;
    }

    .banner-content{
        padding: 0 15px;
    }



    .sect3-grid{
        grid-template-columns: repeat(2,1fr);
    }



    .foot1{
        width: 100%;
        /* background-color: red; */
        position: relative;
    }



}

@media only screen and (max-width:767px){
    /*   mobile land */


    /* .carousel-sect{

    } */

    .image-container {
    
        width: 100%;
    }

    .content-container {
    
        width: 100%;
    }

    .text-container {
    
        padding: 25px;
    }

    .banner-content{
        padding: 0 15px;
    }



    .carousel-grid{
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
    }

    .butt-on{
        display: none;
    }



    .sect3-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 25px;
    }



    .foot1{
        width: 100%;
        /* background-color: red; */
        position: relative;
    }


}


@media only screen and (max-width:560px){


    .butt-on{
        display: none;
    }
}